{% extends 'base.html.twig' %}

{% block body %}
    <h2>Eleves</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Eligible pour bourse</th>
            </tr>
      </thead>
      <tbody>
        {% for eleve in eleves %}
              <tr>
                 <th scope="row">{{ eleve.eleve.nom }}</th>
                 <td scope="row">{{ eleve.eligiblePourBourse ? '✅' : '❌' }}</td>
              </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
