{% extends 'base.html.twig' %}

{% block body %}
    <h2>Rules</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Rule</th>
                <th scope="col">Expression</th>
                <th scope="col">Actions</th>
            </tr>
      </thead>
      <tbody>
          <tr>
             <th scope="row">eligible_for_discount</th>
             <td scope="row">{{ rules.eligible_pour_bourse }}</td>
             <td scope="row">
                  <a class="link-primary" href="{{ path('define_eligible_for_discount_rule')}}" role="button">🖊 Edit</a>
             </td>
          </tr>
      </tbody>
    </table>
{% endblock %}
